@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-primary-1: #ffd000;
    --color-primary-2: #ffffff;

    --color-neutral-1: #9cb4c7;
    --color-neutral-2: #c6a821;
    --color-neutral-3: #3d3a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-neutral-1);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#password_img {
    width: 100px;
}

#title {
    color: var(--color-primary-2);
    font-weight: 500;
    margin-bottom: 10px;
}

#password_container {
    width: 100%;
    max-width: 400px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-neutral-3);
    color: var(--color-primary-2);
    border-radius: 8px;
    padding: 8px 18px;
}

#password_container.show {
    display: flex;
}

#password {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copy {
    background-color: transparent;
    border: none;
    color: var(--color-primary-1);
    height: 40px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: color .4s;
}

#copy:hover {
    color: var(--color-neutral-2);
}

#password_items {
    width: 400px;
    background-color: var(--color-neutral-3);
    color: var(--color-primary-2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 18px;
}

.item {
    display: flex;
    gap: 14px;
}

#size {
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: var(--color-neutral-3);
}

#size::-webkit-inner-spin-button,
#size::-webkit-outer-spin-button {
    opacity: 1;
}

#size:focus {
    outline: 1px solid var(--color-primary-1);
}

#generate {
    background-color: var(--color-primary-1);
    border: none;
    margin-top: 12px;
    padding: 10px 0px;
    border-radius: 4px;
    color: var(--color-neutral-3);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .4s;
}

#generate:hover {
    background-color: var(--color-neutral-2);
}